.calculator {
  border-radius: 15px;
  width: 100%;
  max-width: 428px;
  padding: 29px 19px 36px 28px;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0px 4px 44px 0px rgba(0, 0, 0, 0.05);
  backdrop-filter: blur(6px);
}

.calculator__title {
  margin: 0 0 11px;
  font-weight: 400;
  color: #45515f;
  font-size: 22px;
}

.calculator__title:last-child {
  margin: 0 0 23px;
}

.calculator__title_mt {
  margin-top: 43px;
}

.btn-order_position {
  align-self: center;
  width: 100%;
  max-width: 273px;
  margin-top: 50px;
}

.calculator__top {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.calculator__bottom {
  margin-top: 63px;
  display: flex;
  justify-content: space-between;
}

.calculator__total-loan {
  margin: 0;
}

.calculator__total-return {
  margin: 0;
}

.calculator__total-date {
  margin: 0;
}

.calculator__total-payment {
  margin: 0;
}

.calculator__total-title {
  margin: 0 0 2px;
  font-weight: 300;
  font-size: 14px;
  color: #45515f;
}

.calculator__total-subtitle {
  margin: 0 0 21px;
  color: #f28925;
  font-weight: 500;
  font-size: 18px;
}

.calculator__total-subtitle:last-child {
  margin-bottom: 0;
}

.thumb-block {
  align-self: self-start;
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 20px;
  color: #45515f;
}

.calculator__range-info {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  color: #c0c2c5;
  font-size: 13px;
  font-weight: 400;
}
