.navbar {
  width: 100%;
  max-width: 1280px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 64px;
}

.navbar_footer {
  margin-bottom: 38px;
}

.navbar_dashboard {
  margin-bottom: 0;
}

.nav-menu {
  width: 100%;
  max-width: 473px;
}

.nav-menu__list {
  display: flex;
  justify-content: space-between;
  padding: 0;
  list-style-type: none;
  width: 100%;
  max-width: 473px;
  margin: 0;
}

.nav-menu__link {
  color: #fff;
  font-size: 18px;
  text-decoration: none;
  transition: 0.5s;
}

.nav-menu__link_active {
  text-shadow:
    0 0 10px rgba(255, 255, 255, 0.8),
    0 0 20px rgba(255, 255, 255, 0.6),
    0 0 30px rgba(255, 255, 255, 0.4);
}

.nav-menu__link:hover {
  text-shadow:
    0 0 10px rgba(255, 255, 255, 0.8),
    0 0 20px rgba(255, 255, 255, 0.6),
    0 0 30px rgba(255, 255, 255, 0.4);
}

.nav-menu__button {
  cursor: pointer;
  text-transform: uppercase;
  font-family: 'Rubik', sans-serif;
  border-radius: 8px;
  color: inherit;
  font-size: 13px;
  padding: 18px 40px;
  border: none;
  background-color: #ff7b00;
  transition: 0.5s;
}

.nav-menu__button_underline {
  text-decoration: none;
}

.nav-menu__button:hover {
  text-shadow:
    0 0 10px rgba(255, 255, 255, 0.8),
    0 0 20px rgba(255, 255, 255, 0.6),
    0 0 30px rgba(255, 255, 255, 0.4);
}

.nav-menu__button:active {
  transform: scale(0.98);
}

.nav-menu__contacts {
  color: #fff;
  width: 33%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-menu__email {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
}

.nav-menu__email:before {
  margin-right: 10px;
  content: url('../../images/email.svg');
}

.nav-menu__phone {
  font-size: 22px;
}

.nav-menu__phone:before {
  margin-right: 10px;
  content: url('../../images/phone.svg');
}

.logo {
  color: #fff;
  margin-bottom: 6px;
}

.logo__fire-word {
  font-size: 33px;
  font-weight: 400;
}

.logo__money-word {
  font-size: 33px;
  font-weight: 600;
}
