.section-title {
  margin: 0;
  color: #45515f;
  font-size: 38px;
}

.btn-order {
  cursor: pointer;
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  border-radius: 8px;
  padding: 22px 44px;
  border: none;
  background: linear-gradient(to right, #ffc83e, #ff7347);
}

.box {
  border-radius: 22px;
  background: rgba(255, 255, 255, 0.95);
  box-shadow: 0px 4px 44px 0px rgba(84, 104, 123, 0.05);
  backdrop-filter: blur(6px);
}

.line {
  padding: 45px 0 0;
  border-top: 1px solid rgba(69, 81, 95, 0.05);
  width: 100%;
  max-width: 1280px;
}
